blinker
click
colorama
coverage
dnspython
email-validator
Flask
Flask-DebugToolbar
Flask-Mail
idna
iniconfig
itsdangerous
Jinja2
MarkupSafe
packaging
pluggy
pytest
python-dotenv
Werkzeug
